*.pyc
*.log
*.DS_STORE
*.pt
*.th
*.csv
*.xlsx
*.lock
model/
data/adult
data/celeba
data/co-occurrence-bias/data_statistics
data/co-occurrence-bias/LAMA_TREx
data/co-occurrence-bias/original_LAMA
data/compas
data/crehate
data/german
data/INTapt/*
!data/INTapt/download_data_model.py
data/kobbq
data/Koglish_dataset/*
!data/Koglish_dataset/download_Koglish_dataset.py
data/latte
data/pubfig
data/RH
test_framework.py
result/
